NEXT_PUBLIC_SUPABASE_URL=https://suaiqcynxospjijzdudc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_5gYss6NWI2tvE6wDOsb8cw_rjVqrAe6
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
